%body
  .container{:style => "margin-top:20px;"}
  - @events.flatten.each_slice(4) do |events|
    .row
      - events.each do |event|
        .span3
          .eventbox
            %a{:href => "http://www.facebook.com/events/#{event["id"]}", :target => "_blank"}
              .eventphoto
                %img{:src => get_facebook_image(event["id"], 'large')}
              .location
                = event["location"]
                %br
              .time
                = date_from_facebook(event["start_time"]) 
              .divider
              .actions
                %ul
                  %li #{link_to 'like'}
                  %li 
                    - 338513749570080
                    = link_to 'share', "http://www.facebook.com/dialog/feed?app_id=338513749570080&link=http://developers.facebook.com/docs/reference/dialogs/&picture=http://fbrell.com/f8.jpg&name=Facebook%20Dialogs&caption=Reference%20Documentation&description=Using%20Dialogs%20to%20interact%20with%20users.&redirect_uri=http://localhost:3000"
                  %li #{link_to 'rsvp'}
              .divider
              .social
                - unless event['friends'].nil?
                  .friends
                    Friends
                    %ul
                    - event["friends"].each do |friend_id|
                      %li
                        %img{:src => get_facebook_image(friend_id), :width => "30px"}
                .countlink
                  .count
                    Guest List: #{rand(100) + 1}
                  .link
                    = link_to "Event on FB", "http://www.facebook.com/events/#{event["id"]}", :target => "_blank"        